.grid-imgs ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-imgs li {
  display: flex;
  flex-direction: column;
  text-align: center;
  place-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.grid-imgs li img[src$=".svg"] {
  width: 32px;
}

.servicios {
  margin: 1rem;
  padding: 1rem;

}

.servicios .titulos {
  color: var(--g11);
  margin-bottom: 1rem;
}

.opciones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.opcion {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.5rem;
  max-width: fit-content;
  margin: 1rem;
  padding: 1rem;
  border-radius: 2px;
  cursor: pointer;
}

.opcion.prs {
  background-color: var(--a5);
  transition: .3s;
}

.opcion.prs a {
  color: var(--g11);
}

.opcion.dlv {
  background-color: var(--g10);
  transition: .3s;
}

.opcion.dlv a {
  color: var(--a3);
}

.horarios {
  margin: 2rem;
  margin-bottom: 4rem;
}

.horarios .titulos {
  color: var(--g11);
}

.horarios ul {
  padding: .5rem;
}

.horarios ul li {
  display: flex;
  margin: .5rem;
  gap: 0.5rem;
  color: var(--g9);
}
