.layout {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 100%;
}

.carta {
  grid-column: 1;
}

.galeria-comida {
  background-image: url('../../img/src/carrusel-carta.jpg');
  background-size: cover;
  background-repeat: repeat-y;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: hidden;
  transition: 0.3s;
}


.categoria-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.2rem;
  cursor: pointer;
  padding: 1rem;
  margin-right: 1rem;
}

.flecha {
  transition: 0.3s;
}

.contenido-categoria {
  background-color: var(--g11);
  padding: 0.5rem;
}

.contenido-categoria>.subtitulos {
  color: var(--g1);
  padding: 1rem;
  font-weight: 600;
}

.contenido-categoria>.body-text {
  color: var(--g3);
  padding: 0.3rem 1rem;
  font-size: 80%;
  font-weight: 500;
}

.contenido-categoria>.body-text>.precio {
  color: var(--a3);
  font-weight: 600;
  font-size: 85%;
}
