.categoria-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.2rem;
  cursor: pointer;
  padding: 1rem;
}

.flecha {
  transition: 0.3s;
}

.contenido-categoria {
  transition: 0.3s;
  background-color: var(--g11);
  padding: 0.5rem;
}

.contenido-categoria>.subtitulos {
  color: var(--g1);
  padding: 1rem;
  font-weight: 600;
}

.contenido-categoria>.body-text {
  color: var(--g3);
  padding: 0.3rem 1rem;
  font-size: 80%;
  font-weight: 500;
}

.contenido-categoria>.body-text>.precio {
  color: var(--a3);
  font-weight: 600;
  font-size: 85%;
}








