.categoria-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.flecha {
  width: 18px;
  transition: transform 0.3s ease;
}

.contenido-categoria {
  margin-top: 8px;
  padding: 20px;
}

