:root {

  --a1: #FFD35B;
  --a2: #FFCE47;
  --a3: #FFC933;
  --a4: #FFC31F;
  --a5: #FFBE0A;
  --a6: #EDAE00;

  --g1: #F1F1F1;
  --g2: #D9D9D9;
  --g3: #BFBFBF;
  --g4: #A6A6A6;
  --g5: #8C8C8C;
  --g6: #737373;
  --g7: #595959;
  --g8: #404040;
  --g9: #262626;
  --g10: #1A1A1A;
  --g11: #0D0D0D;

}
